html,
body,
#app,
.App {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: auto;
}

.flex-header {
    flex: 0 1 auto;
    top: 0;
    width: 100%;
    align-self: flex-start;
    position: relative;
    min-height: 85px;
    vertical-align: middle;
}

.flex-content {
    flex: 1 1 auto;
    height: 100%;
}

.flex-row {
    display: flex;
    flex-flow: row;
    height: 100%;
}

.flex-column {
    flex: 1 1 auto;
    flex-flow: column;
    height: 100%;
}

.menu {
    width: 125px;
    max-width: 125px;
}